* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  /* font-family: sans-serif; */
  font-family: cursive, sans-serif;
}
hr {
  width: 28%;
  height: 3px;
  margin-top: 10px;
  background-color: black;
  margin-bottom: 35px;
}
.outer-container {
  width: 90vw;
  height: 90vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(84, 80, 80);
  color: black;
}

.converter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: -1px 1px 9px -1px black;
  color: whitesmoke;
  /* border: 1px solid yellowgreen; */
  margin-bottom: 20px;
}

.input-amount-container {
  width: 90%;
  /* background-color: rgb(65, 61, 61); */
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: whitesmoke;
  /* color: white */
}

.input-amount-container input {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  margin: 10px 0;
  padding: 0 10px;
}

.currency-select-container {
  /* background-color: rgb(65, 61, 61); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.currency-select-container label {
  background-color: rgb(102, 196, 196);
  padding: 5px;
}

.currency-select-container select {
  width: 200px;
  padding: 5px;
  height: 34px;
}

.from-container,
.to-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.button-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.button-container button {
  padding: 5px 40px;
  background-color: rgb(87, 87, 244);
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: rgb(46, 46, 239);
  cursor: pointer;
}

#answer-amount-tag {
  /* display: none; */
  opacity: 0;
  color: black;
}

h1 {
  margin: 10px;
  color: black;
  font-size: 3.5rem;
}
